* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hidden {
    display: none;
}
#batmanRobin{
    text-align: center;
    margin: 50px;
    font-size: 30px;
    color: #1E2A38;
}
header {
    background-color: #1E2A38;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    nav {
        display: flex;

        ul {
            list-style: none;
            font-size: 18px;

            li {
                margin: 15px;

                a {
                    padding: 6px;
                    text-decoration: none;
                    color: #00BFA6;
                    font-weight: bold;

                }
            }
        }
    }
}

table {
    margin: 50px;
    border: 2px solid #1E2A38;
    border-collapse: collapse;

    tr {
        &:hover {
            background-color: #9c99994f;
        }

        th,
        td {
            border: 2px solid #1E2A38;
            padding: 10px;
            text-align: center;

        }
    }
}